@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&subset=cyrillic-ext");
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-HairlineItalic.eot");
  src: url("../fonts/lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/lato/Lato-HairlineItalic.woff") format("woff"), url("../fonts/lato/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/lato/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-LightItalic.eot");
  src: url("../fonts/lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/lato/Lato-LightItalic.woff") format("woff"), url("../fonts/lato/Lato-LightItalic.ttf") format("truetype"), url("../fonts/lato/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Italic.eot");
  src: url("../fonts/lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Italic.woff2") format("woff2"), url("../fonts/lato/Lato-Italic.woff") format("woff"), url("../fonts/lato/Lato-Italic.ttf") format("truetype"), url("../fonts/lato/Lato-Italic.svg#Lato-Italic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BoldItalic.eot");
  src: url("../fonts/lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/lato/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Hairline.eot");
  src: url("../fonts/lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Hairline.woff2") format("woff2"), url("../fonts/lato/Lato-Hairline.woff") format("woff"), url("../fonts/lato/Lato-Hairline.ttf") format("truetype"), url("../fonts/lato/Lato-Hairline.svg#Lato-Hairline") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BlackItalic.eot");
  src: url("../fonts/lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/lato/Lato-BlackItalic.woff") format("woff"), url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/lato/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.eot");
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Light.woff2") format("woff2"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.ttf") format("truetype"), url("../fonts/lato/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Black.eot");
  src: url("../fonts/lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Black.woff2") format("woff2"), url("../fonts/lato/Lato-Black.woff") format("woff"), url("../fonts/lato/Lato-Black.ttf") format("truetype"), url("../fonts/lato/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"), url("../fonts/lato/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Muller Narrow';
  src: url("../fonts/muller_narrow/MullerNarrow-LightItalic.eot");
  src: url("../fonts/muller_narrow/MullerNarrow-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/muller_narrow/MullerNarrow-LightItalic.woff2") format("woff2"), url("../fonts/muller_narrow/MullerNarrow-LightItalic.woff") format("woff"), url("../fonts/muller_narrow/MullerNarrow-LightItalic.ttf") format("truetype"), url("../fonts/muller_narrow/MullerNarrow-LightItalic.svg#MullerNarrow-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Muller Narrow';
  src: url("../fonts/muller_narrow/MullerNarrow-ExtraBold.eot");
  src: url("../fonts/muller_narrow/MullerNarrow-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/muller_narrow/MullerNarrow-ExtraBold.woff2") format("woff2"), url("../fonts/muller_narrow/MullerNarrow-ExtraBold.woff") format("woff"), url("../fonts/muller_narrow/MullerNarrow-ExtraBold.ttf") format("truetype"), url("../fonts/muller_narrow/MullerNarrow-ExtraBold.svg#MullerNarrow-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Muller Narrow';
  src: url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.eot");
  src: url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.woff") format("woff"), url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/muller_narrow/MullerNarrow-ExtraBoldItalic.svg#MullerNarrow-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Muller Narrow';
  src: url("../fonts/muller_narrow/MullerNarrow-Light.eot");
  src: url("../fonts/muller_narrow/MullerNarrow-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/muller_narrow/MullerNarrow-Light.woff2") format("woff2"), url("../fonts/muller_narrow/MullerNarrow-Light.woff") format("woff"), url("../fonts/muller_narrow/MullerNarrow-Light.ttf") format("truetype"), url("../fonts/muller_narrow/MullerNarrow-Light.svg#MullerNarrow-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

* {
  font-family: 'Open Sans','Lato', 'Muller Narrow', sans-serif; }

.section-left-title-wrap {
  position: relative; }

.section-left-title {
  width: 100%;
  max-width: 164px;
  height: 120px;
  background-color: #50abf5;
  position: absolute;
  top: -24px; }
  .section-left-title__rect {
    height: 65px;
    width: 18%;
    border-right: 2px dashed #ffffff; }
  .section-left-title__text {
    text-align: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 19px;
    margin: 0 auto;
    margin-top: 20px;
    letter-spacing: 1px; }

.section-right-title-wrap {
  position: relative; }

.section-right-title {
  width: 100%;
  max-width: 164px;
  height: 120px;
  background-color: #e79a14;
  position: absolute;
  top: -24px; }
  .section-right-title__rect {
    height: 65px;
    width: 18%;
    position: absolute;
    right: 0;
    border-left: 2px dashed #ffffff; }
  .section-right-title__text {
    text-align: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 19px;
    margin: 0 auto;
    margin-top: 87px;
    letter-spacing: 1px; }

.top {
  background-image: url(../images/top-bg.png);
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 79px; }
  .top__but-wrap {
    text-align: center;
    margin-top: 41px; }
  .top__but {
    width: 299px;
    height: 41px;
    border-radius: 4px;
    border: 2px solid #e79a14;
    background-color: #e79a14;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    .top__but:hover {
      background-color: #00b3db;
      border-color: #00B3DB; }

.header {
  padding-top: 12px; }

.logo {
  text-align: center; }
  .logo__image {
    max-width: 200px; }

.nav__list {
  padding: 10px 0; }

.nav__link {
  color: #1a1a1a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
  padding: 0 8px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in; }
  .nav__link:hover {
    color: #e79a14; }

.icon-bar {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  background-color: #00b3db;
  display: block;
  position: relative;
  width: 22px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#nav-but.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px; }

#nav-but.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-but.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -9px; }

.telephone {
  font-size: 0;
  text-align: right;
  position: relative;
  bottom: 3px;
  right: 9px; }
  .telephone__icon {
    font-size: 42px;
    display: inline-block;
    line-height: 42px; }
  .telephone__list {
    color: #1a1a1a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 18px; }
  .telephone__ul {
    display: inline-block;
    padding: 0;
    margin: 0; }

.call-back {
  text-align: right; }
  .call-back__but {
    width: 159px;
    height: 36px;
    border-radius: 4px;
    border: 2px solid #e79a14;
    color: #151515;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    .call-back__but:hover {
      border-color: #00b3db; }

.top-cont {
  position: relative;
  height: 337px;
  width: 519px;
  margin: 0 auto; }
  @media screen and (max-width: 529px) {
    .top-cont {
      -webkit-transform: scale(0.5) translateX(-50%);
      -ms-transform: scale(0.5) translateX(-50%);
      transform: scale(0.5) translateX(-50%);
      margin-left: 10%; } }
  .top-cont__blue-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 190px;
    background-color: #50abf5;
    z-index: 1; }
  .top-cont__black-rect {
    width: 111px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    z-index: 1;
    bottom: 39px;
    left: 228px; }
  .top-cont__lupa {
    width: 139px;
    height: 134px;
    position: absolute;
    z-index: 3;
    bottom: 92px;
    right: 52px; }
  .top-cont__blue-rect {
    width: 160px;
    height: 56px;
    background-color: #50abf5;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 10px 13px; }
  .top-cont__price {
    font-family: Lato;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0; }
    .top-cont__price--thin {
      font-size: 12px;
      font-weight: 700; }
  .top-cont__price-line {
    font-family: Lato;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    font-weight: 300;
    text-decoration: line-through;
    letter-spacing: 2px;
    margin: 0; }

.text {
  width: 471px;
  margin-left: auto;
  position: relative;
  z-index: 2; }
  .text__row-1 {
    position: relative;
    z-index: 2;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px; }
  .text__start {
    text-align: left; }
  .text__st {
    color: #ffffff;
    font-family: Lato;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 2px; }
    .text__st--bold {
      font-size: 14px;
      font-weight: 700; }
  .text__place {
    text-align: right; }
  .text__pl {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    letter-spacing: 2px; }
    .text__pl--bold {
      font-weight: 700; }
  .text__prof {
    color: #1a1a1a;
    font-family: Lato;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 24px;
    margin: 0; }
  .text__seo-title {
    font-family: "Muller Narrow";
    font-size: 172px;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
    line-height: 156px;
    letter-spacing: 15px;
    margin: 0; }
    .text__seo-title--white {
      color: #ffffff; }
  .text__seo {
    color: #151515;
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 41px;
    position: relative;
    bottom: 7px;
    letter-spacing: 2px; }

.about {
  padding-bottom: 49px; }

.school {
  padding-top: 109px; }
  .school__title {
    color: #e79a14;
    font-family: "Muller Narrow";
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .school__text {
    color: #1a1a1a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    line-height: 16px;
    margin-top: 27px;
    margin-bottom: 0;
    letter-spacing: 0.7px; }
    .school__text--marg {
      margin-top: 17px; }

.school-wrap {
  padding-top: 6px; }

@media screen and (max-width: 768px) {
  .school-info-wrap {
    text-align: center; } }

.school-info {
  padding: 0;
  margin: 0;
  margin-top: 27px; }
  .school-info__list {
    list-style-type: none; }
    .school-info__list--count {
      color: #50abf5;
      font-family: Lato;
      font-size: 36px;
      font-weight: 900; }
    .school-info__list--text {
      color: #1a1a1a;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
  .school-info__image {
    height: 33px; }

.price {
  padding-bottom: 62px;
  background-color: #f9f9f9; }

.cours-price {
  margin-top: 91px; }
  .cours-price__title {
    color: #151515;
    font-family: "Muller Narrow";
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 12px; }
  .cours-price__ul {
    padding: 0;
    margin-top: 18px; }
  .cours-price__line {
    width: 100px;
    height: 1px;
    background-color: #50abf5; }
  .cours-price__list {
    list-style-type: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #151515;
    letter-spacing: 1px; }
    .cours-price__list--blue {
      color: #50abf5; }

.table {
  margin-top: 11px; }
  .table__row--1 {
    background-color: #00ADF8; }
  .table__row--italic {
    font-style: italic; }
  .table__row--blue-bg {
    background-color: #E5F3FC; }
  .table__col {
    color: #151515;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    width: 25%;
    border: 1px solid #50abf5;
    letter-spacing: 1px;
    padding: 11px; }
    .table__col--left-align {
      text-align: left; }
    .table__col--bold-text {
      font-weight: 700; }
    .table__col--fs14 {
      font-size: 14px; }
    .table__col--wh-text {
      color: #ffffff;
      font-weight: 600;
      font-size: 16px; }
    .table__col--blue-text {
      color: #50abf5;
      font-weight: 700; }
    .table__col--fw-600 {
      font-weight: 600; }
    .table__col--big-bord-bl {
      border-right: 2px solid #50abf5; }
    .table__col--big-bord-wh {
      border-right: 2px solid #ffffff; }
    .table__col--big-bord-light-bl {
      border-right: 2px solid #70cff8; }
  .table__span-bl {
    color: #50abf5; }

.program {
  padding-top: 33px;
  padding-bottom: 88px; }
  .program__title-wrap {
    text-align: center; }
  .program__title {
    color: #151515;
    font-family: "Muller Narrow";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    letter-spacing: 3px;
    margin-bottom: 3px; }

.prog {
  margin-top: 54px; }
  .prog__number-1 {
    opacity: 0.1;
    color: #50abf5;
    font-family: "Muller Narrow";
    font-size: 91px;
    font-weight: 700;
    line-height: 0px;
    position: relative;
    left: 5px;
    margin: 0; }
  .prog__number-2 {
    color: #50abf5;
    font-family: Lato;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    margin: 0; }
  .prog__title {
    color: #151515;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    line-height: 18px;
    letter-spacing: 1px;
    position: relative;
    bottom: 7px; }
  .prog__line {
    width: 100%;
    height: 1px;
    background-color: #50abf5; }
  .prog__ul {
    padding: 0;
    margin: 0;
    margin-top: 16px; }
  .prog__list {
    list-style-type: none;
    color: #151515;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.65px; }

.comments__title {
  color: #151515;
  font-family: "Muller Narrow";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 4px;
  letter-spacing: 3px; }

.comments__line {
  height: 2px;
  background-color: #50abf5; }

.comments-title-wrap {
  text-align: right; }

.slide__img {
  width: 100%; }

.slide__img-title {
  width: 100%;
  height: 40px;
  background-color: #50abf5;
  text-align: center; }

.slide__img-title-text {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding-top: 2px; }

.slide-content {
  margin-top: 43px; }
  .slide-content__name {
    font-family: Lato;
    font-size: 14px;
    line-height: 16px;
    color: #151515;
    font-weight: 400;
    margin-top: 15px;
    letter-spacing: 1px; }
    .slide-content__name--blue {
      color: #50abf5;
      font-weight: 700; }
  .slide-content__image {
    width: 100%;
    margin: auto; }
  .slide-content__chat {
    width: 100%;
    margin: auto; }
  .slide-content__line {
    height: 2px;
    background-color: #50abf5; }
  .slide-content__text {
    color: #151515;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev:before {
  content: url(../images/prev.png); }

.slick-next:before {
  content: url(../images/next.png); }
